@tailwind base;
@tailwind components;
@tailwind utilities;

.kk{
    background-image: url('../images/backround.webp');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

